<div class="header sticky top-0 w-full flex justify-between items-center drop-shadow-md bg-green-500 backdrop-blur-sm p-5">
    <div class="title text-xl sm:text-2xl font-bold">
        <h1 class="text-slate-800 transition duration-500 ease-in-out hover:scale-110"><a href="/">CU Psychedelic Club</a></h1>
    </div>
    <nav class="flex sm:justify-center space-x-4">
        <a href="/news"class="rounded-lg p-0 sm:px-1 py-1 transition duration-250 ease-in-out text-slate-800 font-small sm:font-medium hover:scale-110">News</a>
        <a href="#" class="rounded-lg p-0 sm:px-1 py-1 transition duration-250 ease-in-out text-slate-800 font-small sm:font-medium hover:scale-110">Resources</a>
    </nav>
</div>