{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>2023 Psychedelic Symposium</title>
    {% tailwind_css %}
    </head>
    <body>
        {% include 'psychsymp/_header.html' %}
        <div class="w-full flex flex-col justify-center items-center">
            <div class="big-content bg-green-400 flex justify-between p-20 w-full">
                <div class="details">
                    <h1 class="title m-0 text-4xl font-bold text-slate-800 text-left">2023 Psychedelic Symposium</h1>
                    <h1 class="title m-0 text-4xl text-slate-800 text-left">April 14</h1>
                </div>
                <a class="rounded-sm drop-shadow-sm bg-indigo-50">Register</a>
            </div>
        </div>
    </body>
</html>