{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>2023 Psychedelic Symposium</title>
    {% tailwind_css %}
    </head>
    <body class="bg-green-100">
        {% include 'psychsymp/_header.html' %}
        <div class="w-100 flex flex-col justify-center items-center p-5">
            {% for update in latest_updates %}
                <div class="post rounded-md bg-green-300 text-left px-5 py-2 my-2 divide-y divide-green-500 drop-shadow-md">
                    <div class="postheading flex justify-between"><h4>{{update.title}}</h4><h4>{{update.date}}</h4></div>
                    <p>{{update.post}}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>